.ul {
  counter-reset: checked;
  list-style: none;
}

.li1 input:checked {
  counter-increment: checked 14;
}

.li2 input:checked {
  counter-increment: checked 10;
}

.li3 input:checked {
  counter-increment: checked 5;
}

.count:after {
  content: counter(checked);
}
